body {
    background-color: #745CC1;
    text-align: center;
}


img  {
    margin-top: 64px;
}


form{
    margin-left: 65px;
    margin-right: 65px;
}

input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    margin-top: 54px;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 5px
    
    
}


button {
    margin-top: 59px;
    height: 50px;
    width: 100%;
    border-radius: 40px 40px 40px 40px;
    text-transform: uppercase;
    border: none;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #39393A;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}


p {
    margin-top: 5px;
}


a {
    color: #ffffff;
    text-decoration: none;
    margin-top: 500px;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}


