body {
    background-color: #F2F2F2;
    
}


.feito:hover {
    background-color: #52BE80;
}

.feito {
    background-color: green;
    list-style-type: none;
    height: 150px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}


.a {
    float: left;
    height: 40px;
    padding-left: 28px;
    padding-top: 55px;
}

.b {
    float: left;
    padding-left: 23px;
    padding-top: 60px;
    
}

.c {
    height: 30px;
    float: right;
    padding-right: 18px;
    padding-top: 60px;
    
}

 .pendente {
    list-style-type: none;
    background-color: #4A4A4A;
    height: 150px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}


.pendente:hover {
    background-color: #616161;
}


.d {
    float: left;
    height: 40px;
    padding-left: 28px;
    padding-top: 55px;
}

.e {
    float: left;
    padding-left: 23px;
    padding-top: 60px;
    
}

.f {
    height: 30px;
    float: right;
    padding-right: 18px;
    padding-top: 60px;
    
}

