body {
    font-family: 'oswald', sans-serif;
}
ul {
    padding: 0;
    margin-top: 0;
}

li {
    list-style-type: none;
    background: #4A4A4A;
    margin-top: 2px;
    padding: 30px 40px 30px 100px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background-image: url(Images/box.png);
    background-repeat: no-repeat;
    background-position: 40px center;
    background-size: 40px;
}


li:hover {
    background-color: #616161;
}


a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    background-image: url(Images/arrow_right.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16.5px;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
}


li.done {
    list-style-type: none;
    background: #27AE60;
    margin-top: 2px;
    padding: 30px 40px 30px 100px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background-image: url(Images/box_checked.png);
    background-repeat: no-repeat;
    background-position: 40px center;
    background-size: 40px;
}


li.done:hover {
    background-color: #52BE80;
}